<ion-view view-title="login" data-ng-controller="LoginCtrl as LoginCtrl">
    <ion-content class="padding">
        <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="list">
                    <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
                    <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">

            </label>

                </div>

                <div class="padding">
                    <button class="button button-block button-positive">Sign In</button>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>