<ion-view view-title="main" data-ng-controller="MainCtrl as MainCtrl" >
    <ion-content class="padding">


        <ion-list>
            <div class="row">
                <div class="col-xs-12">
                    <form class="chat">
                        <span></span>
                        <div class="messages" id="adobewordpress">
                            <div class="message">
                                <div class="fromThem">
                                    <p>Welcome to Qews! Here's what we have in store for you today ...</p>
                                    <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="myMessage">
                                    <p>Can't believe someone attempted to rob a petrol station. In Singapore!</p>
                                    <date><b>John Doe</b> 08.03.2016 14:30:7</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="fromThem">
                                    <p>The Singapore Police Force ought to increase their response agility</p>
                                    <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="fromThem">
                                    <p>Walao eh, what was the guy thinking sia?</p>
                                    <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="myMessage">
                                    <p>Just realised this happened at the petrol station next to my house!</p>
                                    <date><b>John Doe</b> 08.03.2016 14:30:7</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="fromThem">
                                    <p>He must have been pretty desperate to try something like that</p>
                                    <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="fromThem">
                                    <p>Singapore government! Why you not doing your job?</p>
                                    <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="myMessage">
                                    <p>Eh @blablabla, since when you see Singapore government doing their job?</p>
                                    <date><b>John Doe</b> 08.03.2016 14:30:7</date>
                                </div>
                            </div>
                            <div class="message">
                                <div class="fromThem">
                                    <p>Crazy people living in Singapore these days.</p>
                                    <date><b>{{user.name_first}}</b> 08.03.2016 14:37:12</date>
                                </div>
                            </div>
                        </div>



       <div style="text-align: center; padding-top:9px;">
              <button ui-sref="forum" class="messagebutton"> Join the discussion
        </button>
              <button ng-click="ctrl.shootnews()" class="messagebutton"> News me up!
        </button>
            </div>
                    </form>

                </div>
            </div>
    
        </ion-list>


    
    </ion-content>
</ion-view>