<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark nav-titleslide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Back

            </ion-nav-back-button>

        </ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
                    </button>
        </ion-nav-buttons>

    </ion-side-menu-content>


    <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive">
            <h1>Qews</h1>

        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/side/main">
                    News
                </ion-item>
                <ion-item menu-close href="#/side/login">
                    Login
                </ion-item>
                <ion-item menu-close href="#/side/register">
                    Register
                </ion-item>
                <ion-item menu-close href="#/side/settings">
                    Settings
                </ion-item>
            </ion-list>




            <ion-content>
    </ion-side-menu>


</ion-side-menus>